.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #9b59b6, #c0392b);
}
.Home-Box {
  width: 65%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home-header {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-content {
}
